html {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  flex: 1;
  background-image: linear-gradient(180deg, #fae5e5, #d4b8b8 100px, #322727);
}

.container {
  max-width: 960px;
}

textarea {
  height: 250px;
}
